# Dependencies
node_modules
.pnpm-store

# Build output
.next
.next/**
out

# Prisma
src/generated/prisma

# Environment
.env
.env.local
.env.production
.env.*.local

# IDE & OS
.vscode
.idea
*.swp
*.swo
*~
.DS_Store

# Logs
*.log
npm-debug.log*

# Test
coverage
.nyc_output

# Temp
tmp
temp
